{% extends "base.html" %}

{% block content %}
    <br>
    <h1 class="mt-5">Uygulama 01</h1>
    <p class="lead">Çalışma kapsamında gerçekleştirilecek birinci uygulamaya hoşgeldiniz.</p>
    <p>Uygulama ile ilgili detaylı bilgi için lütfen öncelikle aşağıda yer alan videoyu izleyiniz.
    <br>Uygulamaya başlamak için <a href="https://bit.ly/acikders01" target="_blank">buraya</a> tıklayınız.</p>
    <p>Desteğiniz için teşekkürler :)</p>
    <p><iframe id="ytplayer" type="text/html" width="720" height="405" src="https://www.youtube.com/embed/bNnUpJ5rOBQ" frameborder="0" allowfullscreen></iframe></p>
    <p><a href="https://bit.ly/acikders01" target="_blank">UYGULAMAYA BAŞLA!</a></p>
{% endblock %}