{% extends "base.html" %}

{% block content %}
    <br>
    <h1 class="mt-5">Uygulama 02</h1>
    <p class="lead">Çalışma kapsamında gerçekleştirilecek ikinci uygulamaya hoşgeldiniz.</p>
    <p>Bu uygulamada, acikders.net platformunda gerçekleştireceğiniz arama sonucunda platformun size öneri olarak sunduğu arama sonuçlarını değerlendirmeniz beklenmektedir.</p>
    <p>Uygulamaya başlamak için <a href="https://bit.ly/acikders02" target="_blank">buraya</a> tıklayınız ve yönergeyi takip ediniz.</p>
    <p>Önemli: Değerlendirme formunu tarayıcınızın diğer sekmesinde açık tutarak uygulamayı gerçekleştiriniz.</p>
    <p>Desteğiniz için teşekkürler :)</p>
    <p><a href="https://bit.ly/acikders02" target="_blank">UYGULAMAYA BAŞLA</a></p>
{% endblock %}