{% extends "base.html" %}

{% block content %}

    <script src="/static/base_files/autoList.js"></script>

    <h1 class="mt-5">::: Açık Ders :::</h1>
    <p class="lead">Otomatik doldurma test çalışmaları</p>

    <p>
    <div class="ui-widget">
      <label for="tags">Tag programming languages: </label>
      <input id="tags" size="50">
    </div>
    </p>
    <p>Otomatik doldurma çalışmaları için kaynak <a href="https://jqueryui.com/autocomplete/#default" target="_blank">doküman</a></p>
    <p>Form çalışmaları için kaynak <a href="https://getbootstrap.com/docs/4.5/components/forms/?" target="_blank">doküman</a></p>

{% endblock %}