{% extends "base.html" %}

{% block content %}

    <h1 class="mt-5">AEK Üst Veri</h1>
    <p class="lead">Üst veri seti başarıyla kaydedildi.</p>
    <hr>
    <p class="lead">Girmiş olduğunuz üst verilerin listesi:</p>
    <div class="table-responsive-sm">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">No</th>
          <th scope="col">Üst Veri</th>
          <th scope="col">Değer</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Başlık</td>
          <td>{{ title }}</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Konu</td>
          <td>{{ subject }}</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Tanım</td>
          <td>{{ description }}</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Tip</td>
          <td>{{ type }}</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Yaratıcı</td>
          <td>{{ creator }}</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Yayıncı</td>
          <td>{{ publisher }}</td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>Katkı Sağlayan</td>
          <td>{{ contributor }}</td>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td>Lisans</td>
          <td>{{ license }}</td>
        </tr>
        <tr>
          <th scope="row">9</th>
          <td>Tarih</td>
          <td>{{ date }}</td>
        </tr>
        <tr>
          <th scope="row">10</th>
          <td>Dil</td>
          <td>{{ language }}</td>
        </tr>
        <tr>
          <th scope="row">11</th>
          <td>Format</td>
          <td>{{ format }}</td>
        </tr>
        <tr>
          <th scope="row">12</th>
          <td>Tanımlayıcı</td>
          <td>{{ identifier }}</td>
        </tr>
        <tr>
          <th scope="row">13</th>
          <td>Hedef Kitle</td>
          <td>{{ educationalAudience }}</td>
        </tr>
        <tr>
          <th scope="row">14</th>
          <td>Eğitsel Kullanım</td>
          <td>{{ educationalUse }}</td>
        </tr>
        <tr>
          <th scope="row">15</th>
          <td>Erişilebilirlik Özelliği</td>
          <td>{{ accesibilityFeature }}</td>
        </tr>
        <tr>
          <th scope="row">16</th>
          <td>İhtiyaç Duyulan Süre</td>
          <td>{{ timeRequired }}</td>
        </tr>
      </tbody>
    </table>
    </div>
    <p><button class="btn btn-primary" onclick="window.open('/metaform/')">Yeni üst veri girişi!</button></p>
{% endblock %}