{% extends "base.html" %}

{% block content %}
    <h1 class="mt-5">::: Açık Ders NET :::</h1>
<p class="lead">acikders.net, "<strong>Açık Eğitim Kaynakları (AEK) için Semantik Üst Veri Modeli Tasarımı</strong>" başlıklı doktora tez çalışması kapsamında oluşturulmuştur. Doktora tez çalışması devam etmekte olup acikders.net kapsamında geliştirilen tüm uygulamalar test aşamasındadır. acikders.net genelinde doktora tez çalışması "<strong>proje</strong>" olarak adlandırılmaktadır.</p>
    <p>Projenin teknik altyapısı ile ilgili tüm bilgiler, kodlar ve dokümantasyon GitHub üzerinden ulaşılabilir durumdadır: <a href="https://github.com/orcunmadran/net.acikders.web" target="_blank">https://github.com/orcunmadran/net.acikders.web</a> </p>
    <p>Projeye temel teşkil eden doktora tez çalışmasının kabul almış olan doktora tez önerisine ulaşmak için <a href="https://drive.google.com/file/d/1f0HE6ZiV1Z50zoZnfA7hoUTxb_GUOhaN/view?usp=sharing" target="_blank"> tıklayınız.</a></p>
    <p>Proje ile ilgili ayrıntılı bilgi almak ve iletişime geçmek için <a href="http://www.madran.net/iletisim_sosyal_aglar/">madran.net</a> adresini ziyaret edebilirsiniz.</p>
{% endblock %}