        <option>Türkçe</option>
		<option>İngilizce</option>
		<option>Abhazca</option>
		<option>Afar Dili</option>
		<option>Afrika Dili</option>
		<option>Almanca</option>
		<option>Amhara Dili</option>
		<option>Arapça</option>
		<option>Aragonca</option>
		<option>Arnavutça</option>
		<option>Assam Dili</option>
		<option>Aymara Dili</option>
		<option>Azerice</option>
		<option>Baskça</option>
		<option>Başkurtça</option>
		<option>Bengal Dili</option>
		<option>Beyaz Rusça</option>
		<option>Biharice</option>
		<option>Birmanca</option>
		<option>Bretonca</option>
		<option>Bulgarca</option>
		<option>Butanca</option>
		<option>Cava Dili</option>
		<option>Çekçe</option>
		<option>Çince</option>
		<option>Danimarkaca</option>
		<option>Endonezya Dili</option>
		<option>Ermenice</option>
		<option>Esperanto Dili</option>
		<option>Estonca</option>
		<option>Faroece</option>
		<option>Farsça</option>
		<option>Fijice</option>
		<option>Fince</option>
		<option>Flemenkçe</option>
		<option>Fransızca</option>
		<option>Frizye Dili</option>
		<option>Galiçya Dili</option>
		<option>Galce</option>
		<option>Galce (İskoç)</option>
		<option>Galce (Manx)</option>
		<option>Grönlandca</option>
		<option>Guarani Dili</option>
		<option>Gucerat Dili</option>
		<option>Gürcüce</option>
		<option>Haiti Dili</option>
		<option>Hausa Dili</option>
		<option>Hırvatça</option>
		<option>Hintçe</option>
		<option>Inuktitut Dili</option>
		<option>İbranice</option>
		<option>İdo Dili</option>
		<option>İngilizce</option>
		<option>İnupiakça</option>
		<option>İrlanda Dili</option>
		<option>İspanyolca</option>
		<option>İsveçce</option>
		<option>İtalyanca</option>
		<option>İzlandaca</option>
		<option>Japonca</option>
		<option>Kamboçya Dili</option>
		<option>Kannada Dili</option>
		<option>Katalanca</option>
		<option>Kazakça</option>
		<option>Keçuva Dili</option>
		<option>Keşmirce</option>
		<option>Kırgızca</option>
		<option>Kinyarvanda Dili</option>
		<option>Kirundi Dili</option>
		<option>Korece</option>
		<option>Korsika Dili</option>
		<option>Kürtçe</option>
		<option>Latince</option>
		<option>Letonca</option>
		<option>Limburgca</option>
		<option>Lingala Dili</option>
		<option>Litvanca</option>
		<option>Litvan Dili</option>
		<option>Macarca</option>
		<option>Madagaskar Dili</option>
		<option>Makedonca</option>
		<option>Malay Dili</option>
		<option>Malayalam Dili</option>
		<option>Malta Dili</option>
		<option>Maori Dili</option>
		<option>Marathi Dili</option>
		<option>Moldovca</option>
		<option>Moğolca</option>
		<option>Nauru Dili</option>
		<option>Nepal Dili</option>
		<option>Norveçce</option>
		<option>Oksitan Dili</option>
		<option>Oriya Dili</option>
		<option>Oromo Dili</option>
		<option>Özbekçe</option>
		<option>Papua Yeni Ginece</option>
		<option>Pencap Dili</option>
		<option>Peştuca</option>
		<option>Polonyaca</option>
		<option>Portekizce</option>
		<option>Romansça</option>
		<option>Romence</option>
		<option>Rusça</option>
		<option>Samoa Dili</option>
		<option>Sangro</option>
		<option>Sanskritçe</option>
		<option>Setsvana Dili</option>
		<option>Seylanca</option>
		<option>Shona Dili</option>
		<option>Sırpça</option>
		<option>Sırp Hırvatçası</option>
		<option>Sindçe</option>
		<option>Siswati Dili</option>
		<option>Sişuan Yi</option>
		<option>Soto Dili</option>
		<option>Slovakça</option>
		<option>Slovence</option>
		<option>Somali Dili</option>
		<option>Sundanca</option>
		<option>Svahili Dili</option>
		<option>Tacikçe</option>
		<option>Tagalog Dili</option>
		<option>Tamilce</option>
		<option>Tatarca</option>
		<option>Tayca</option>
		<option>Telugu Dili</option>
		<option>Tibetçe</option>
		<option>Tigrinya Dili</option>
		<option>Tsonga Dili</option>
		<option>Türkçe</option>
		<option>Türkmence</option>
		<option>Tvi Dili</option>
		<option>Ukraynaca</option>
		<option>Uluslararası Dil</option>
		<option>Urdu Dili</option>
		<option>Uygurca</option>
		<option>Vietnamca</option>
		<option>Volapük Dili</option>
		<option>Volof Dili</option>
		<option>Wallon Dili</option>
		<option>Yidce</option>
		<option>Yoruba Dili</option>
		<option>Zosa Dili</option>