{% extends "base.html" %}

{% block content %}

    <h1 class="mt-5">AEK Üst Veri</h1>
    <p class="lead">Girmiş olduğunuz üst verilere göre oluşturulmuş olan Açık Eğitim Kaynağı üst verisi aşağıda yer almaktadır.</p>
    <p>AEK Zengin Metin Görünümü:</p>
    <p class="p-3 mb-2 bg-light text-dark"><a href="{{ identifier }}" target="_blank">{{ title }}</a> açık eğitim kaynağı, {{ creator }} tarafından <a href="{{ ccLicenseURL }}" target="_blank">{{ license }}</a> ile lisanslanmıştır.</p>
    <form>
        <div class="form-group">
        <label for="metaHTML">AEK Üst Veri Seti:</label>
        <textarea class="form-control" id="metaHTML" name="metaHTML" rows="5">
        <!-- Açık Ders NET Açık Eğitim Kaynağı (AEK) Üst Verisi -->
        <p
            xmlns:dct="http://purl.org/dc/terms/"
            xmlns:dcx="http://purl.org/dcx/lrmi-terms/"
            xmlns:cc="http://creativecommons.org/ns"
            xmlns:adn="http://acikders.net/ns">
            <a rel="dct:identifier" property="dct:title" href="{{ identifier }}">{{ title }}</a> açık eğitim kaynağı,
            <span property="dct:creator">{{ creator }}</span> tarafından
            <a rel="cc:license" href="{{ ccLicenseURL }}" target="_blank">{{ license }}</a> ile lisanslanmıştır.
            {{ ccLicenseIcon }}
        </p>
        <!-- AEK üst veri seti ile ilgili detaylı bilgi için: acikders.net -->
        </textarea>
        <small id="descriptionHelp" class="form-text text-muted">Hazırlanmış olan üst veriyi kopyalayıp kendi sayfanıza yerleştirebilirsiniz.</small>
      </div>
    </form>
    <button class="btn btn-primary" onclick="copyHTML()">HTML kodunu kopyala!</button>
    <script>
    function copyHTML() {
        /* Get the text field */
        var copyText = document.getElementById("metaHTML");

        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); /*For mobile devices*/

        /* Copy the text inside the text field */
        document.execCommand("copy");

        /* Alert the copied text */
        alert("HTML Kopyalandı");
        //alert("Copied the text: " + copyText.value);
    }
    </script>
    <hr>
    <p class="lead">Girmiş olduğunuz üst verilerin listesi:</p>
    <div class="table-responsive-sm">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">No</th>
          <th scope="col">Üst Veri</th>
          <th scope="col">Değer</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Başlık</td>
          <td>{{ title }}</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Konu</td>
          <td>{{ subject }}</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Tanım</td>
          <td>{{ description }}</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Tip</td>
          <td>{{ type }}</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Yaratıcı</td>
          <td>{{ creator }}</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Yayıncı</td>
          <td>{{ publisher }}</td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>Katkı Sağlayan</td>
          <td>{{ contributor }}</td>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td>Lisans</td>
          <td>{{ license }}</td>
        </tr>
        <tr>
          <th scope="row">9</th>
          <td>Tarih</td>
          <td>{{ date }}</td>
        </tr>
        <tr>
          <th scope="row">10</th>
          <td>Dil</td>
          <td>{{ language }}</td>
        </tr>
        <tr>
          <th scope="row">11</th>
          <td>Format</td>
          <td>{{ format }}</td>
        </tr>
        <tr>
          <th scope="row">12</th>
          <td>Tanımlayıcı</td>
          <td>{{ identifier }}</td>
        </tr>
        <tr>
          <th scope="row">13</th>
          <td>Hedef Kitle</td>
          <td>{{ educationalAudience }}</td>
        </tr>
        <tr>
          <th scope="row">14</th>
          <td>Eğitsel Kullanım</td>
          <td>{{ educationalUse }}</td>
        </tr>
        <tr>
          <th scope="row">15</th>
          <td>Erişilebilirlik Özelliği</td>
          <td>{{ accesibilityFeature }}</td>
        </tr>
        <tr>
          <th scope="row">16</th>
          <td>İhtiyaç Duyulan Süre</td>
          <td>{{ timeRequired }}</td>
        </tr>
      </tbody>
    </table>
    </div>
    <button class="btn btn-primary" onclick="goBack()">Veri giriş ekranına geri dön!</button>
    <script>
    function goBack() {
      window.history.back();
    }
    </script>
    <br><br>
{% endblock %}