{% extends "base.html" %}

{% block content %}

<!-- JS Auto Complete -->
<script src="/static/base_files/formatList.js"></script>
<script src="/static/base_files/subjectList.js"></script>

<!-- JS Group Functions -->
<script src="/static/base_files/jsGroup.js"></script>

    <h1 class="mt-5">AEK Üst Veri Giriş Formu</h1>
    <p>Açık eğitim kaynağının üst verisini oluşturmak için aşağıdaki formu doldurunuz.<br>Zorunlu alanların yanında ( <strong><span class="text-danger">*</span></strong> ) işareti yer almaktadır.</p>
    <form class="needs-validation" action="/metadata/" method="post" novalidate>
      {% csrf_token %}
      <!--BG: https://getbootstrap.com/docs/4.1/utilities/colors/#background-color -->
      <!--Tx: https://getbootstrap.com/docs/4.1/utilities/colors/#color -->
      <p class="lead p-2 mb-2 bg-secondary text-light">İçerik</p>
      <div class="form-row">
<!-- Title (Başlık) Start -->
      <div class="form-group col-md-6">
        <label for="title">Başlık:</label>
        <!-- Bootstrap Popover https://getbootstrap.com/docs/4.1/components/popovers/ -->
        <a tabindex="-1" class="text-decoration-none" data-toggle="popover" data-trigger="focus" data-html="true"
           title="Başlık (Title)"
           data-content="<strong>Açıklama:</strong> Kaynağa verilen isim.<br><strong>Ör:</strong> Programlama Dilleri ve Algoritmalar.<br><strong><span class='text-danger'>*</span></strong> Bu alan zorunludur!">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
          </svg>
        </a>
        <input type="text" class="form-control" id="title" name="title" required>
        <small id="titleHelp" class="form-text text-muted">Kaynağın başlığını tam olarak giriniz. <strong><span class="text-danger">*</span></strong></small>
        <div class="invalid-feedback">
          Lütfen bir başlık giriniz!
        </div>
      </div>
<!-- Title (Başlık) End -->
<!-- Subject (Konu) Start -->
      <div class="form-group col-md-6">
        <label for="subject">Konu (Anahtar Kelime / Kelimeler):</label>
        <a tabindex="-1" class="text-decoration-none" data-toggle="popover" data-trigger="focus" data-html="true"
           title="Konu (Subject)"
           data-content="<strong>Açıklama:</strong> Kaynağı tanımlayan anahtar kelime ya da kelimeler.<br><strong>Ör:</strong> Programlama, Programlama Dilleri, Algoritma, Python.<br><strong><span class='text-danger'>*</span></strong> Bu alan zorunludur!">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
          </svg>
        </a>
        <input type="text" class="form-control" id="subject" name="subject" required>
        <small id="subjectHelp" class="form-text text-muted">Kaynağın içeriğini tanımlayan anahtar kelimeleri virgül kullanarak giriniz. <strong><span class="text-danger">*</span></strong></small>
        <div class="invalid-feedback">
          Lütfen anahtar kelime giriniz!
        </div>
      </div>
<!-- Subject (Konu) End -->
      </div>
      <div class="form-row">
<!-- Description (Tanım) Start -->
      <div class="form-group col-md-6">
        <label for="description">Tanım (Özet):</label>
        <a tabindex="-1" class="text-decoration-none" data-toggle="popover" data-trigger="focus" data-html="true"
           title="Tanım (Description)"
           data-content="<strong>Açıklama:</strong> Kaynağın içeriği hakkında bilgi veren özet metin.<br><strong>Ör:</strong> Ders izlencelerinde yer alan dersin katalog tanımı.<br><strong><span class='text-danger'>*</span></strong> Bu alan zorunludur!">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
          </svg>
        </a>
        <textarea class="form-control" id="description" name="description" rows="11" required></textarea>
        <small id="descriptionHelp" class="form-text text-muted">Kaynağın içeriği hakkında bilgi veren özet metni giriniz. <strong><span class="text-danger">*</span></strong></small>
        <div class="invalid-feedback">
          Lütfen kaynak hakkında özet bilgi giriniz!
        </div>
      </div>
<!-- Description (Tanım) End -->
<!-- Type (Tip) Start -->
      <div class="form-group col-md-6">
        <label for="type">Kaynak Tipi (Birden çok seçebilirsiniz):</label>
        <a tabindex="-1" class="text-decoration-none" data-toggle="popover" data-trigger="focus" data-html="true"
           title="Tip (Type)"
           data-content="Kaynağın tipini belirlerken aşağıdaki tanımlamalardan faydalanabilirsiniz:
                <br> - <strong>Etkileşimli Kaynak: </strong>Kullanıcının anlayarak, kullanarak ve deneyimleyerek etkileşimde bulunduğu kaynak (çoklu ortam öğrenme nesneleri, simülasyon, sanal gerçeklik uygulamaları).
                <br> - <strong>Etkinlik:</strong> Keşfetme amaçlı etkinlikler (sergi ve müze ziyaretleri, webinar, konferans, çalıştay).
                <br> - <strong>Fiziksel Nesne:</strong> Cansız, üç boyutlu bir nesne veya madde.
                <br> - <strong>Görsel:</strong> Metin dışındaki görsel gösterimler (fizikzel nesnelerin fotoğrafları, resimler, müzik notaları).
                <br> - <strong>Hareketli Görsel:</strong> Ard arda gösterildiğinde bir hareket izlenimi veren bir dizi görsel sunum (animasyonlar, filmler, videolar).
                <br> - <strong>Hareketsiz Görsel:</strong> Durağan görsel gösterim (grafik tasarımlar, çizimler, planlar, haritalar).
                <br> - <strong>Koleksiyon:</strong> Bir araya getirilen (gruplanan) kaynaklar.
                <br> - <strong>Metin:</strong> Öncelik olarak okuma amacıyla oluşturulan kaynak (ders notları, kitaplar, makaleler, gazeteler, dergiler).
                <br> - <strong>Servis:</strong> Bir veya daha fazla işlev sağlayan bir sistem (web sitesi, eğitim portalı, öğrenme yönetim sistemi).
                <br> - <strong>Ses:</strong> Öncelik olarak duyma amacıyla oluşturulan kaynak (müzik, ortam sesleri, kaydedilmiş konuşmalar).
                <br> - <strong>Veri seti:</strong> Tanımlanmış bir yapıda kodlanmış veriler (veri tabanları, listeler, tablolar).
                <br> - <strong>Yazılım:</strong> Kaynak kod veya derlenmiş bir bilgisayar programı.
                <br><strong><span class='text-danger'>*</span></strong> Bu alan zorunludur!">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
          </svg>
        </a>
          <select multiple class="form-control" id="type" size="12" required>
            <option>Etkileşimli Kaynak</option>
            <option>Etkinlik</option>
            <option>Fiziksel Nesne</option>
            <option>Görsel</option>
            <option>Hareketli Görsel</option>
            <option>Hareketsiz Görsel</option>
            <option>Koleksiyon</option>
            <option>Metin</option>
            <option>Servis</option>
            <option>Ses</option>
            <option>Veri seti</option>
            <option>Yazılım</option>
          </select>
        <small id="typeHelp" class="form-text text-muted">CTRL kullanarak çoklu seçim yapabilirsiniz. <strong><span class="text-danger">*</span></strong></small>
        <div class="invalid-feedback">
          Lütfen en az bir kaynak tipi seçiniz!
        </div>
      </div>
      <input type="hidden" id="type2" name="type">
      </div>
<!-- Type (Tip) End -->
      <p class="lead p-2 mb-2 bg-secondary text-light">Entellektüel</p>
      <div class="form-row">
<!-- Creator (Yaratıcı) Start -->
      <div class="form-group col-md-6">
        <label for="creator">Yaratıcı(lar):</label>
        <a tabindex="-1" class="text-decoration-none" data-toggle="popover" data-trigger="focus" data-html="true"
           title="Yaratıcı (Creator)"
           data-content="<strong>Açıklama:</strong> Kaynağın içeriğinden 1. derecede sorumlu kişi ya da kuruluş.<br><strong>Ör: </strong>Orçun Madran, Umut Al, Hacettepe Üniversitesi.<br><strong><span class='text-danger'>*</span></strong> Bu alan zorunludur!">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
          </svg>
        </a>
        <input type="text" class="form-control" id="creator" name="creator" required>
        <small id="creatorHelp" class="form-text text-muted">Virgül kullanarak birden çok giriş yapabilirsiniz.<strong><span class="text-danger">*</span></strong> <br></small>
        <div class="invalid-feedback">
          Lütfen kişi ya da kuruluş bilgisi giriniz!
        </div>
      </div>
<!-- Creator (Yaratıcı) End -->
<!-- Publisher (Yayıncı) Start -->
      <div class="form-group col-md-6">
        <label for="publisher">Yayıncı(lar):</label>
        <a tabindex="-1" class="text-decoration-none" data-toggle="popover" data-trigger="focus" data-html="true"
           title="Yayıncı (Publisher)"
           data-content="<strong>Açıklama:</strong> Kaynağı kullanıma sunmaktan sorumlu kişi ya da kuruluş.<br><strong>Ör: </strong>Orçun Madran, Umut Al, Hacettepe Üniversitesi<br><strong><span class='text-primary'>*</span></strong> Bu alan zorunlu değildir.">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
          </svg>
        </a>
        <input type="text" class="form-control" id="publisher" name="publisher">
        <small id="publisherHelp" class="form-text text-muted">Virgül kullanarak birden çok giriş yapabilirsiniz.</small>
      </div>
<!-- Publisher (Yayıncı) End -->
      </div>
      <div class="form-row">
<!-- Contributor (Katkı Sağlayan) Start -->
      <div class="form-group col-md-6">
        <label for="contributor">Katkı Sağlayan(lar):</label>
        <a tabindex="-1" class="text-decoration-none" data-toggle="popover" data-trigger="focus" data-html="true"
           title="Katkı Sağlayan"
           data-content="<strong>Açıklama:</strong> Kaynağın içeriğine katkı sağlayan kişi ya da kuruluş.<br><strong>Ör: </strong>Orçun Madran, Umut Al, Hacettepe Üniversitesi.<br><strong><span class='text-primary'>*</span></strong> Bu alan zorunlu değildir.">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
          </svg>
        </a>
        <input type="text" class="form-control" id="contributor" name="contributor">
        <small id="contributorHelp" class="form-text text-muted">Virgül kullanarak birden çok giriş yapabilirsiniz.</small>
      </div>
<!-- Contributor (Katkı Sağlayan) End -->
<!-- License (Lisans) Start -->
        <div class="form-group col-md-6">
        <label for="license">Kaynağın Açık Lisansı:</label>
        <a tabindex="-1" class="text-decoration-none" data-toggle="popover" data-trigger="focus" data-html="true"
           title="Açık Lisans"
           data-content=" Kaynağın lisansını belirlerken aşağıdaki tanımlamalardan faydalanabilir, lisansın üzerine tıklayarak detaylı bilgi alabilirsiniz:
            <br>- <strong><a href='https://creativecommons.org/publicdomain/zero/1.0/deed.tr' target='_blank'>CCO 1.0:</a></strong> Telif hakkı sınırlaması yoktur, kaynak atıf vermeden kullanılabilir.
            <br>- <strong><a href='https://creativecommons.org/licenses/by/4.0/deed.tr' target='_blank'>CC BY 4.0:</a></strong> Atıf vermek kaydıyla ticari amaç da dahil olmak üzere kopyalanabilir, düzenlenebilir, dağıtılabilir.
            <br>- <strong><a href='https://creativecommons.org/licenses/by-sa/4.0/deed.tr' target='_blank'>CC BY-SA 4.0:</a></strong> Atıf vermek ve aynı lisansı devam ettirmek kaydıyla ticari amaç da dahil olmak üzere kopyalanabilir, düzenlenebilir, dağıtılabilir.
            <br>- <strong><a href='https://creativecommons.org/licenses/by-nc/4.0/deed.tr' target='_blank'>CC BY-NC 4.0:</a></strong> Atıf vermek kaydıyla ticari amaç haricinde kopyalanabilir, düzenlenebilir, dağıtılabilir.
            <br>- <strong><a href='https://creativecommons.org/licenses/by-nc-sa/4.0/deed.tr' target='_blank'>CC BY-NC-SA 4.0:</a></strong> Atıf vermek ve aynı lisansı devam ettirmek kaydıyla ticari amaç haricinde kopyalanabilir, düzenlenebilir, dağıtılabilir.
            <br>- <strong><a href='https://creativecommons.org/licenses/by-nd/4.0/deed.tr' target='_blank'>CC BY-ND 4.0:</a></strong> Atıf vermek kaydıyla ticari amaç da dahil olmak üzere kopyalanabilir ve dağıtılabilir ancak üzerinde hiçbir değişiklik yapılamaz.
            <br>- <strong><a href='https://creativecommons.org/licenses/by-nc-nd/4.0/deed.tr' target='_blank'>CC BY-NC-ND 4.0:</a></strong> Atıf vermek kaydıyla ticari amaç haricinde kopyalanabilir ve dağıtılabilir ancak üzerinde hiçbir değişiklik yapılamaz.
            <br><strong><span class='text-danger'>*</span></strong> Bu alan zorunludur!">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
          </svg>
        </a>
        <select class="form-control" id="license" name="license" required>
          <option selected disabled value="">Seçiniz...</option>
          <option value="CC O 1.0">CCO 1.0</option>
          <option value="CC BY 4.0">CC BY 4.0 (Atıf)</option>
          <option value="CC BY-SA 4.0">CC BY-SA 4.0 (Atıf, Aynı Lisansla Paylaş)</option>
          <option value="CC BY-NC 4.0">CC BY-NC 4.0 (Atıf, Gayri Ticari)</option>
          <option value="CC BY-NC-SA 4.0">CC BY-NC-SA 4.0 (Atıf, Gayri Ticari, Aynı lisansla Paylaş)</option>
          <option value="CC BY-ND 4.0">CC BY-ND 4.0 (Atıf, Türetilemez)</option>
          <option value="CC BY-NC-ND 4.0">CC BY-NC-ND 4.0 (Atıf, Gayri Ticari, Türetilemez)</option>
        </select>
        <small id="licenseHelp" class="form-text text-muted">Kaynağın lisanslandığı Creative Commons (CC) lisansını seçiniz. <strong><span class="text-danger">*</span></strong></small>
        <div class="invalid-feedback">
          Lütfen lisans seçiniz!
        </div>
      </div>
      </div>
      <input type="hidden" id="ccLicenseURL" name="ccLicenseURL">
      <input type="hidden" id="ccLicenseIcon" name="ccLicenseIcon">
<!-- License (Lisans) End -->
      <p class="lead p-2 mb-2 bg-secondary text-light">Yapısal</p>
      <div class="form-row">
<!-- Date (Tarih) Start -->
      <div class="form-group col-md-6">
        <label for="date">Tarih:</label>
        <a tabindex="-1" class="text-decoration-none" data-toggle="popover" data-trigger="focus" data-html="true"
           title="Tarih (Date)"
           data-content="<strong>Açıklama:</strong> Kaynağın oluşturulduğu ya da yayınlandığı tarih. Eğer kaynak yayınlandıktan sonra bir güncelleme gerçekleştirildiyse, güncelleme tarihi.<br><strong><span class='text-primary'>*</span></strong> Bu alan zorunlu değildir.">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
          </svg>
        </a>
        <input placeholder="YYYY-AA-GG" type="date" class="form-control" id="date" name="date">
        <small id="dateHelp" class="form-text text-muted">Tarih bilgisini 'tarih seçici' yardımıyla ya da gg.aa.yyyy biçiminde elle giriniz.</small>
      </div>
<!-- Date (Tarih) End -->
<!-- Language (Dil) Start -->
      <div class="form-group col-md-6">
        <label for="language">Dil:</label>
        <a tabindex="-1" class="text-decoration-none" data-toggle="popover" data-trigger="focus" data-html="true"
           title="Dil (Language)"
           data-content="<strong>Açıklama:</strong> Kaynakta yer alan hakim dil.<br><strong><span class='text-primary'>*</span></strong> Bu alan zorunlu değildir.">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
          </svg>
        </a>
        <select class="form-control" id="language" name="language">
            <option selected value="">Seçiniz...</option>
            {% include 'langval.html' %}
        </select>
        <small id="languageHelp" class="form-text text-muted">Dil seçiniz.</small>
      </div>
      </div>
<!-- Language (Dil) End -->
      <div class="form-row">
<!-- Format (Biçim) Start -->
      <div class="form-group col-md-6">
        <label for="format">Dosya Biçimleri:</label>
        <a tabindex="-1" class="text-decoration-none" data-toggle="popover" data-trigger="focus" data-html="true"
           title="Dosya Biçimi (Format)"
           data-content="<strong>Açıklama:</strong> Kaynak içinde yer alan materyallerin dosya uzantıları.<br><strong>Ör</strong>: ODF, PDF, DOC, DOCX, XLS, XLSX, PPT, PPTX, MP4, MP3, MOV, JPG. <br><strong><span class='text-primary'>*</span></strong> Bu alan zorunlu değildir.">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
          </svg>
        </a>
        <input type="text" class="form-control" id="format" name="format">
        <small id="formatHelp" class="form-text text-muted">Virgül kullanarak birden çok giriş yapabilirsiniz.</small>
      </div>
<!-- Identifier (Tanımlayıcı) Start -->
      <div class="form-group col-md-6">
        <label for="identifier">Tanımlayıcı Adres (URL):</label>
        <a tabindex="-1" class="text-decoration-none" data-toggle="popover" data-trigger="focus" data-html="true"
           title="Tanımlayıcı Adres (Identifier)"
           data-content="<strong>Açıklama:</strong> Kaynağın erişilebileceği internet adresi.<br><strong>Ör:</strong> https://www.madran.net/<br><strong><span class='text-danger'>*</span></strong> Bu alan zorunludur!">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
          </svg>
        </a>
        <input type="url" class="form-control" id="identifier" name="identifier" value="http://" required>
        <small id="identifierHelp" class="form-text text-muted">Adresi <i>http://</i> ya da <i>https://</i> ön eki ile birlikte giriniz. <strong><span class="text-danger">*</span></strong></small>
        <div class="invalid-feedback">
          Lütfen geçerli bir internet adresi giriniz!
        </div>
      </div>
<!-- Identifier (Tanımlayıcı) End -->
      </div>
      <p class="lead p-2 mb-2 bg-secondary text-light">Eğitsel</p>
      <div class="form-row">
<!-- Educational Audience (Hedef Kitle) Start -->
      <div class="form-group col-md-6">
      <label for="educationalAudience2">Hedef Kitle:</label>
        <a tabindex="-1" class="text-decoration-none" data-toggle="popover" data-trigger="focus" data-html="true"
           title="Hedef Kitle (Educational Audience)"
           data-content="<strong>Açıklama:</strong> Öğrenim kaynağının faydalı olabileceği eğitim düzeyi.<br><strong><span class='text-primary'>*</span></strong> Bu alan zorunlu değildir.">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
          </svg>
        </a>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="educationalAudienceA" value="Okul Öncesi">
          <label class="form-check-label" for="educationalAudienceA">Okul Öncesi</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="educationalAudienceB" value="İlköğretim">
          <label class="form-check-label" for="educationalAudienceB">İlköğretim</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="educationalAudienceC" value="Ortaöğretim">
          <label class="form-check-label" for="educationalAudienceC">Ortaöğretim</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="educationalAudienceD" value="Yükseköğretim">
          <label class="form-check-label" for="educationalAudienceD">Yükseköğretim</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="educationalAudienceE" value="Yaşam Boyu Öğrenme">
          <label class="form-check-label" for="educationalAudienceE">Yaşam Boyu Öğrenme</label>
        </div>
      <small id="educationalAudienceHelp" class="form-text text-muted">Birden çok seçim yapabilirsiniz.</small>
      </div>
      </div>
      <input type="hidden" id="educationalAudience2" name="educationalAudience">
<!-- Educational Audience (Hedef Kitle) End -->
<!-- Educational Use (Eğitsel Kullanım) Start -->
      <div class="form-group col-md-6">
      <label for="educationalUse2">Eğitsel Kullanım:</label>
        <a tabindex="-1" class="text-decoration-none" data-toggle="popover" data-trigger="focus" data-html="true"
           title="Eğitsel Kullanım (Educational Use)"
           data-content="<strong>Açıklama:</strong> Eğitsel kullanımı belirlerken aşağıdaki tanımlamalardan faydalanabilirsiniz:
                <br> - <strong>Bireysel öğrenme:</strong> Kaynak içinde bireysel kullanım için öğeler yer almaktadır.
                <br> - <strong>İşbirliğine dayalı öğrenme:</strong> Kaynak içinde grup çalışması için öğeler yer almaktadır.
                <br> - <strong>Biçimlendirici değerlendirme:</strong> Kaynak içinde öğrenim sırasında yaşanan güçlükleri tespit eden ve gerekli yönlendirmeyi yapan öğeler yer almaktadır.
                <br> - <strong>Düzey belirleyici değerlendirme:</strong> Kaynak içinde öğrenim sonunda kazanılmış davranış ve becerileri ölçen öğeler yer almaktadır.
                <br><strong><span class='text-primary'>*</span></strong> Bu alan zorunlu değildir.">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
          </svg>
        </a>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="educationalUseA" value="Bireysel öğrenme">
          <label class="form-check-label" for="educationalUseA">Bireysel öğrenme</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="educationalUseB" value="İşbirliğine dayalı öğrenme">
          <label class="form-check-label" for="educationalUseB">İşbirliğine dayalı öğrenme</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="educationalUseC" value="Biçimlendirici öğrenme">
          <label class="form-check-label" for="educationalUseC">Biçimlendirici değerlendirme</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="educationalUseD" value="Düzey belirleyici öğrenme">
          <label class="form-check-label" for="educationalUseD">Düzey belirleyici değerlendirme</label>
        </div>
      <small id="educationalUseHelp" class="form-text text-muted">Birden çok seçim yapabilirsiniz.</small>
      </div>
      </div>
      <input type="hidden" id="educationalUse2" name="educationalUse">
<!-- Educational Use (Eğitsel Kullanım) End -->
      </div>
      <div class="form-row">
<!-- Accessibility Feature (Erişebilirlik Özelliği) Start -->
      <div class="form-group col-md-6">
        <label for="accessibilityFeature2">Erişebilirlik Özelliği:</label>
        <a tabindex="-1" class="text-decoration-none" data-toggle="popover" data-trigger="focus" data-html="true"
           title="Erişilebilirlik Özelliği (Accessibility Feature)"
           data-content="Erişebilirlik özelliklerini belirlerken aşağıdaki tanımlamalardan faydalanabilirsiniz:
                <br> - <strong>Görsel:</strong> İçerikte video, grafik, fotoğraf vb. görsel öğeler var.
                <br> - <strong>İşitsel:</strong> İçerikte ses dosyaları, podcast vb. işitsel öğeler var.
                <br> - <strong>Metinsel:</strong> İçerikte düz metin öğeleri var.
                <br> - <strong>Sesli Açıklama:</strong> Tüm görsel içerik (resim, video, grafik) bir ekran okuyucu tarafından okunabilen bir metne sahip.
                <br> - <strong>Altyazı:</strong> Tüm ses ve video dosyalarında altyazı var.
                <br> - <strong>Ayrıntılı Altyazı:</strong> İşitme engelliler için altyazı var.
                <br> - <strong>Uzun Açıklama:</strong> Tüm görseller için alternatif metne ek olarak uzun açıklamalar var.
                <br> - <strong>Transkripsiyon:</strong> Tüm video ve ses dosyalarının metin sürümleri var.
                <br><strong><span class='text-primary'>*</span></strong> Bu alan zorunlu değildir.">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
          </svg>
        </a>
        <div class="form-group">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="accessibilityFeatureA" value="Görsel">
          <label class="form-check-label" for="accessibilityFeatureA">Görsel</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="accessibilityFeatureB" value="İşitsel">
          <label class="form-check-label" for="accessibilityFeatureB">İşitsel</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="accessibilityFeatureC" value="Metinsel">
          <label class="form-check-label" for="accessibilityFeatureC">Metinsel</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="accessibilityFeatureD" value="Sesli Açıklama">
          <label class="form-check-label" for="accessibilityFeatureD">Sesli Açıklama</label>
        </div>
            <br>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="accessibilityFeatureE" value="Altyazı">
          <label class="form-check-label" for="accessibilityFeatureE">Altyazı</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="accessibilityFeatureF" value="Ayrıntılı Altyazı">
          <label class="form-check-label" for="accessibilityFeatureF">Ayrıntılı Altyazı</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="accessibilityFeatureG" value="Uzun Açıklama">
          <label class="form-check-label" for="accessibilityFeatureG">Uzun Açıklama</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="accessibilityFeatureH" value="Transkripsiyon">
          <label class="form-check-label" for="accessibilityFeatureH">Transkripsiyon</label>
        </div>
        <small id="accessibilityFeatureHelp" class="form-text text-muted">Birden çok seçim yapabilirsiniz.</small>
      </div>
      </div>
      <input type="hidden" id="accessibilityFeature2" name="accessibilityFeature">
<!-- Accessibility Feature (Erişebilirlik Özelliği) End -->
<!-- Time Required (İhtiyaç Duyulan Süre) Start -->
      <div class="form-group col-md-6">
       <label for="timeRequired">İhtiyaç Duyulan Süre (Saat):</label>
        <a tabindex="-1" class="text-decoration-none" data-toggle="popover" data-trigger="focus" data-html="true"
           title="Süre"
           data-content="<strong>Açıklama:</strong> Kaynağı oluşturan eğitsel içeriğin tamamlanabilmesi için ihtiyaç duyulan tahmini süre. Bu süre saat olarak belirlenmelidir.<br><strong><span class='text-primary'>*</span></strong> Bu alan zorunlu değildir.">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
          </svg>
        </a>
        <input type="number" value="0"  step="1" class="form-control" id="timeRequired" name="timeRequired">
        <small id="timeRequiredHelp" class="form-text text-muted">İhtiyaç duyulan süreyi rakam kullanarak giriniz.</small>
      </div>
      </div>
<!-- Time Required (İhtiyaç Duyulan Süre) End -->
      <button type="submit" class="btn btn-primary" onclick="jsGrup()">Üst veriyi oluştur!</button>
    </form>

    <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
    </script>
{% endblock %}