  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="http://acikders.net">Açık Ders</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Ana Sayfa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">Hakkında</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/schema">Şema</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/metaform">Üst Veri</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">|</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="/admin">{{ user }}</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/admin">Giriş Yap!</a>
        </li>
        {% endif %}
      </ul>
<!-- Search -->
      <form class="form-inline mt-2 mt-md-3" action="/search" method="get">
        <input class="form-control mr-sm-2" type="text" placeholder="Açık Eğitim Kaynaklarında" aria-label="Search" name="q" id="navText" oninput="navbarLowerCase()">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ara</button>
      </form>
 <!-- Search -->
    </div>
  </nav>